* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #000;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    min-height: 100vh;
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 15vh;
    background-color: #000;  
}

.logo {
    flex: 1 1 25rem;
    margin-left: 0.3rem;
    color: #fff;
}

.logo i {
    color: #ffbb0e;
}

nav {
    flex: 1 1 25rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
}

.nav-links a{
    font-size: 1.3rem;
}

.nav-links a:hover {
    text-decoration: underline;
}

.hamburger {
    position: absolute;
    top: 4% ;
    right: 4%;
    display: none;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    background-color: #fff;
}

.banner-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    min-height: 80vh;
    letter-spacing: 2px;
    font-size: 1.3rem;
    padding: 0.3rem;    
}

.banner-title i, .main-intro i,
.grid-title i, .card-container i {
    color: #000;
    font-size: 2.5rem;
    margin: 2rem auto;
}


main {
    max-width: 90%;
    margin: 5rem auto;
    text-align: center;
}

.main-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem auto;
    padding: 0.5rem;
    min-height: 100vh;
}

.main-intro h3 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.main-intro p {
    font-size: 1.2rem;
}

.card-container {
    width: 90%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;

}

.ct-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.card{
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
}
.card img {
    margin-bottom: 1rem;
}

.card h3 {
    margin-bottom: 1rem;
    font-size: 1.4rem; 
}



.grid-title {
    max-width: 90%;
    min-height: 100vh;
    margin: 10rem auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.grid-gallery {
    max-width: 90%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-gap: 0.5rem;
    position: relative;
}


.gallery-title {
    position: absolute;
    top: 40%;
    left: 50%;
    color: #fff;
    font-size: 2.8rem;
    padding: 1rem;
    background: linear-gradient(#48d39f, #38a4d3);
    transform: translate(-40%, -50%);
 
}



.img {
    grid-column-start: 1;
    grid-column-end: 3;
}

.img2 {
    grid-column-start: 1;
    grid-column-end: 4  ;
    grid-row-start: 2;
    grid-row-end: 3;
}

.img3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
}


.img4 {
    grid-column-start: 5;
    grid-column-end: 7;
}

.img5 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
}


.blog {
    max-width: 90%;
    margin: 3rem auto;

}

.blog article {
    background: linear-gradient(#48d39f, #38a4d3);
    padding: 1rem;
    text-align: center;
    color: #fff;
}

.blog article h3 {
    font-size: 2rem;
    margin: 2rem auto;
}


.blog div {
    margin-bottom: 1rem;
}

.blog h4 {
    margin-bottom: .5rem;
}

.social-media-icon {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.5rem;
}

.social-media-icon a {
    color: #38a4d3;
}

.social-media-icon a:hover {
    opacity: 0.7;
}

.social-media-container h3 {
    margin-bottom: 0.5rem;
}

.email-form {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("/images/spaghetti-2931846_1920.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    color: #fff;
}

.email-form label {
    display: block;
    margin: 1rem;
}

.email-form input {
    width: 100%;
}